<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        
        <link rel="stylesheet" href="css/bootstrap-theme.css">
<!--        <link rel="stylesheet" href="css/main.css">-->
        <link rel="stylesheet" href="css/usre.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><b>Sahu Chintha</b></a>
        </div>
          <ul class="nav navbar-nav">
      <li ><a href="index.html">Home</a></li>
      <li><a href="yourchoice.html">your choice</a></li>
      <li class="active"><a href="aboutme.html">About me</a></li>
      <li><a href="contactme.html">Contact me</a></li>
    </ul>
          
       
      </div>
    </nav>
        
        
        <div class="container">
         <div class="row">
        
        <div class="col-lg-6">
            <h2 id ="heads">My life</h2>
            <p class="aboutpara"><b>I Was born in july 27 1995 in thallada, khammam.(its in telangana, India).From there my family have moved to various other places but I finally ended up in warangal. I compleated my schooling there from St.Gabriles high school.I could give my whole biography right in this page but i want u to explore this site that I created.so if u want to know more, go to "abouut me" page or <a href="aboutme.html">click here</a></b></p>
       </div>
              <div class="col-lg-6">
            <h2 id ="heads1">Future plans</h2>
            <p class="aboutpara"><b>I plan on working as a programmer for sometime and eventually establish my own software development company. I'm also intrested in game development so I may end up being a game designer in the end! I'm not sure for now but I'm hoping for the best.</b></p>
       </div>
             </div>
              <div class="col-lg-6">
            <h2 id ="heads2">Interests</h2>
            <p class="aboutpara"><b>I normally spend most of my time Gaming<!--video games--> and watching Anime . I also like meeting new and interesting people. Im interested in many things and they do change a lot but for now im intrested in... <ul>
            <li>Gaming</li>
            <li>Photography</li>
            <li>Film making</li>
            <li>Writing!<!--im terrible at it but then again you already know that just by reading my assignment--></li></ul></b></p>
       </div>
        <div class="col-lg-6">
          <h2 id ="heads3">Education</h2>
            <p class="aboutpara"><b>I Was born in july 27 1995 in thallada, khammam.(its in telangana, India).From there my family have moved to various other places but I finally ended up in warangal. I compleated my schooling there from St.Gabriles high school.I could give my whole biogrI am from Warangal, Telangana, India<!--and its a great place-->. I completed my undergraduation in computer science from GITAM universiy in 2016 and am currently pursuing my masters in applied computer science in NWMS</b></p>
<!--          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </div>
    </body>
</html>