<html>
    <head><meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/usre.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script></head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><b>Sahu Chintha</b></a>
        </div>
          <ul class="nav navbar-nav">
      <li ><a href="index.html">Home</a></li>
      <li><a href="yourchoice.html">your choice</a></li>
      <li><a href="aboutme.html">About me</a></li>
      <li class="active"><a href="contactme.html">Contact me</a></li>
      <li><a href="/gb">Guest Book</a></li>
    </ul>
      </div>
    </nav>
        
        
        <div class="container" >
            
        <div class="row">
        
        <div class="col-lg-6">
            <form><b><br><br><br><h3>You can contact me through this form.</h3><br>
            Your name :<br>
             <input type="text" name="username"><br>
              Your email address:<br>
              <input type="email" name="mail"><br>
                Message:<br>
                <textarea name="message" rows="10" cols="30"></textarea><br><br>
                <button type="button">send!</button>
                </b>
                
            </form>
       </div>
        <div class="col-lg-6">
          <br><br><br><h3>Email </h3>
            <p><b>Too busy to us the form right now or do you want to contact me through email. Here is my email address.contact me any time.</b></p><ul><li>S528799@mail.nwmissouri.edu</li></ul>
<!--          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </div></div>
    </body>
</html>
    