<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><b>Sahu Chintha</b></a>
        </div>
          <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="yourchoice.html">your choice</a></li>
      <li><a href="aboutme.html">About me</a></li>
      <li><a href="contactme.html">Contact me</a></li>
      <li><a href="/gb">Guest Book</a></li>
    </ul>
          
      
      </div>
    </nav><br><br>
<title>M07 Guestbook</title>
<link type="text/css" rel="stylesheet" href="/guestbook.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">
<h1 class= "good">
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>