<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/usre.css">
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
 
<script type="text/javascript">google.load("jquery", "1.3.2");</script>
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="js/main.js"></script>
        
    </head>
    <body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><b>Sahu Chintha</b></a>
        </div>
          <ul class="nav navbar-nav">
      <li ><a href="index.html">Home</a></li>
      <li class="active"><a href="yourchoice.html">your choice</a></li>
      <li ><a href="aboutme.html">About me</a></li>
      <li><a href="contactme.html">Contact me</a></li>
      <li><a href="/gb">Guest Book</a></li>
    </ul>
          
       <!-- <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
        <div class="container">
         <div class="row">
        
        <div class="col-lg-6">
            <h2 class="headings">International travel</h2>
            <p><b>I like traveling and I like travelling a lot.In the end, I am just stuck in USA. The first thing you need to have to travell is Money.So hear are few of the places I wanted to visit but havent yet.Go on and select where you wana go in these places and how many people are going and my super awsome calculater(not really!!!) will give you the total amount of your travel.</b></p>
       </div>
        <div class="col-lg-6">
         
          <h2 class="headings">Get your Travel costs here</h2>  
            <form>
  First name:<br>
  <input id="fname" type="text" name="firstname"><br>
  Last name:<br>
  <input id="lname" type="text" name="lastname">
  <br><br>
   Destination:   <br>      
         <select id="place" name="destination">
  <option value="japan">japan</option>
  <option value="india">india</option>
  <option value="france">france</option>
  <option value="italy">italy</option>
   <option value="austrilya">australia</option>
 <option value="london">london</option>
</select>
 <br><br>
  number of passingers:<br>
<input id="num" type="number" name="passingerno"><br><br>
 
   travel type:<br> 
                <label><input type="radio" name="sel" value="oneway"> one way</label> 
                <label><input type="radio" name="sel" value="to and fro"> to and fro</label><br>
                <br>
                <button id="submit" type="button">send!</button><br><br>
                total cost:<span id="go"></span>
        </form>
        </div>
      </div>
        </div>
    </body>