

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron{background-color: "none"};
/*#main{padding: 30px}*/
body{background-image: url("pic1.jpg")};
/*
#block{
  padding-right: 20px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    
}
*/















